# Ignore all files
*

!.gitignore
!README.md

# Un-ignore the folders leading to config directory
# Aerospace
!aerospace/
!aerospace/aerospace.toml

# Kitty
!kitty/

# Zsh
!zsh/

# Vim
!vim/

# Neovim
!nvim/
!nvim/lua/
!nvim/lua/config/
!nvim/lua/plugins/
!nvim/lua/config/*.lua
!nvim/lua/plugins/*.lua

# tmux
!tmux/

# OpenCode
!opencode/
!opencode/AGENTS.md

# Zim
!zim/
!zim/zimrc
